.carousel-status {
  display: none;
}
.slider-wrapper {
  /* height: 700px; */
}

.carousel .control-next.control-arrow:before {
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.carousel .control-prev.control-arrow:before {
  border-right: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: #ffffff;
  opacity: 0;
}

/* .thumbs-wrapper {
  display: none;
} */
.carousel .control-dots .dot {
  margin: 0 4px;
  box-shadow: none;
}
.control-dots {
  height: 20px;
  top: 72%;
  /* bottom: 100%; */
  /* margin-top: 70%; */
  /* z-index: none !important; */
}
.carousel .control-dots .dot {
  background: #8c939d;
}
/* .carousel .control-dots .dot :active {
  background: #8c939d;
} */
