.slider-wrapper {
  height: 720px;
}

.carousel-status {
  display: none;
}

.carousel .control-next.control-arrow:before {
  border-left: 16px solid #4675f0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.carousel .control-prev.control-arrow:before {
  border-right: 16px solid #4675f0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

/* .thumbs-wrapper {
  display: none;
} */

.control-dots {
  top: 540px;
}
.carousel .control-dots .dot {
  background: #8c939d;
}
