select {
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  /* background: url(이미지 경로) no-repeat 95% 50%; 화살표 모양의 이미지 */
  background: white no-repeat 95% 50%; 
} /* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}
select {
  width: 333px; /* 원하는 너비설정 */
  padding: 0.8em 0.5em; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: inherit;
  border: none;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}
select:focus{
  outline: none;
}
